.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 150vh;
    display: flex;
    justify-content: center;

}

